@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'WindSong', cursive;
}

.fancy {
  font-family: 'WindSong', cursive;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

